/***General Style***/
html {
    background: url(pexels-jess-bailey-designs-743986.jpg) no-repeat center fixed; 
    background-size: cover;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 250;
    margin-left: 50px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 500;
    line-height: 1.5;
}
/***navigation bar***/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:purple;
  }
li {
    float: left;
    background-color: purple;
}
li a {
    display: block;
    color:whitesmoke;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:darkgreen;
    color: whitesmoke;
  }

  .nav{
      display:inline;
      margin-top: 10px;
  }

/***first page***/

.aboutpic {
    display: flex;
    margin: 10px 50px 20px;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    padding: 20px;
}
.text1 {
    margin: 50px 50px 50px 50px;
}

/***second page***/
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding:10px;
    text-align: center;
}
.wraptext {
    display: flex;
    margin: 10px 10px 10px 10px;
}
/***third page***/